.fa-quote-left {
  padding-right: 10px;
  font-size: 26px;
}

.fa-star {
  color: rgb(221, 174, 5);
  padding-left: 10px;
}

.card-footer {
  background-color: transparent !important;
  border: none !important;
}

.add-movie {
  position: sticky !important;
  top: 76px;
}

.no-display {
  display: none;
}
