a {
  text-decoration: none !important;
  color: gray;
}

.btn-delete {
  &:hover {
    color: red !important;
  }
}

.btn-back {
  display: block;
  margin-top: 10px;
  margin-left: 6px;
  position: sticky !important;
  z-index:50;
  top: 76px;
  &:hover {
    color: black;
  }
}

.button {
}
// probleemmmm
